<div data-role="page" id="myshop" data-theme="e">
    <%= render 'layout/header' %>
    <div data-role="content">
        <%= render @shops %>
    </div>
    <%= render 'layout/footer' %>
</div>