<div id="left-pane">
	<ul>
		<a href="shoplist"><li class="">店舗一覧</li></a>
		<a href="userlist"><li class="">ユーザー一覧</li></a>
		<a href="couponlist"><li class="active">クーポン一覧</li></a>
	</ul>
</div>
<div id="right-pane" class="clearfix">
	<table>
		<thead>
			<tr>
				<th class="type-string">クーポン名</th>
				<th class="type-string">発行店</th>
				<th class="type-int">発行数</th>
				<th class="type-int">使用数</th>
				<th class="type-int">シェア回数</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>倒産</td>
				<td>株式会社エーテル</td>
				<td>1枚</td>
				<td>1回</td>
				<td>1回</td>
			</tr>
		</tbody>
	</table>
</div>

