<div id="left-pane">
	<%= render 'shared/admin_menu' %>
</div>
<div id="right-pane" class="clearfix">
	<table>
		<thead>
			<tr>
				<th class="type-string">クーポン名</th>
				<th class="type-string">発行店</th>
				<th class="type-int">発行数</th>
				<th class="type-int">使用数</th>
				<th class="type-int">シェア回数</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>倒産</td>
				<td>株式会社エーテル</td>
				<td>1枚</td>
				<td>1回</td>
				<td>1回</td>
			</tr>
		</tbody>
	</table>
</div>

