<div id="left-pane">
	<ul>
		<a href="shoplist"><li class="active">店舗一覧</li></a>
		<a href="userlist"><li class="">ユーザー一覧</li></a>
		<a href="couponlist"><li class="">クーポン一覧</li></a>
	</ul>
</div>
<div id="right-pane" class="clearfix">
	<table>
		<thead>
			<tr>
				<th class="type-string">店舗名</th>
				<th class="type-int">クーポン発行枚数(月)</th>
				<th class="type-int">使用された数</th>
				<th class="type-int">シェアされた数</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="shop">エーテル</a></td>
				<td>80000400枚</td>
				<td>98枚</td>
				<td>1回</td>
			</tr>
		</tbody>
	</table>
</div>

