<div id="left-pane">
	<%= render 'shared/admin_menu' %>
</div>
<div id="right-pane">
	<div class="shop_details">
		<div class="name">トラノコ 新宿歌舞伎町店</div>
		<div class="tags">タグ：東京 東西線 ラーメン ビール 餃子</div>
		<ul id="tab">
			<li class="select">クーポン発行状況</li>
			<li>ユーザー状況</li>
			<li>クーポン代理発行</li>
		</ul>
		<div class="content_wrapper">
			<table class="coupon_list">
				<thead>
					<tr>
						<th>発行クーポン一覧</th>
						<th>クーポン名</th>
						<th>割引内容</th>
						<th>発行日時</th>
						<th>使用数</th>
					</tr>
				</thead>
				<tbody>
					<tr class="summary">
						<td>クーポンα</td>
						<td>餃子</td>
						<td>50円引き</td>
						<td>2012年11月3日</td>
						<td>14</td>
					</tr>
					<tr class="detail">
						<td colspan="5">
							<table>
								<thead>
									<tr>
										<th>使用者</th>
										<th>使用日時</th>
										<th>シェア回数</th>
										<th>属性</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>ダニエル(20代 男性)</td>
										<td>2012年11月6日 2時45分</td>
										<td>0</td>
										<td>2012年11月3日</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr class="summary">
						<td>クーポンB</td>
						<td>ラーメン</td>
						<td>50円引き</td>
						<td>2012年20月3日</td>
						<td>27</td>
					</tr>
					<tr class="detail">
						<td colspan="5">
							<table>
								<thead>
									<tr>
										<th>使用者</th>
										<th>使用日時</th>
										<th>シェア回数</th>
										<th>属性</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>ダニエル(20代 男性)</td>
										<td>2012年11月6日 2時45分</td>
										<td>5</td>
										<td>2012年11月3日</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="content_wrapper hidden">
			<table>
				<thead>
					<tr>
						<th>登録ユーザー一覧</th>
						<th>使用したクーポン数</th>
						<th>シェア回数</th>
						<th>使用日時</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>John Doe</td>
						<td>50</td>
						<td>20</td>
						<td>夜</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="content_wrapper hidden">
			クーポン発行画面
		</div>
	</div>
</div>

