<div id="left-pane">
	<ul>
		<a href="shoplist"><li class="">店舗一覧</li></a>
		<a href="userlist"><li class="active">ユーザー一覧</li></a>
		<a href="couponlist"><li class="">クーポン一覧</li></a>
	</ul>
</div>
<div id="right-pane" class="clearfix">
	<table>
		<thead>
			<tr>
				<th class="type-string">ユーザー名</th>
				<th class="type-int">クーポン受信数</th>
				<th class="type-int">使用数</th>
				<th class="type-int">シェア回数</th>
				<th class="type-int">マイ店登録数</th>
				<th>志向属性</th>
				<th class="type-string">ユーザー属性</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>ユーザーA</td>
				<td>120</td>
				<td>18</td>
				<td>2</td>
				<td>14</td>
				<td>山手線 ラーメン ボーリング</td>
				<td>20代 男性</td>
			</tr>
		</tbody>
	</table>
</div>

