  <tr>
    <td><%= user.id %></td>
    <td><%= user.times_used(coupon) %></td>
    <td><%= l user.created_at.to_date, format: :default %> </td>
    <td><%= user.registered_my_shop_number %></td>
  </tr>