<a href="#">
	<div class="coupon yellow">
		<table border="0">
			<tr>
				<td colspan="2" class="title">飲み放題1000円引き！！！</td>
			</tr>
			<tr>
				<td rowspan="3" class="picture1"><img src="/assets/sample.jpg" width="64" height="64"></td>
				<td class="text"><p>トラノコで飲み放題が1000円引き！今日だけ！！</p></td>
			</tr>
			<tr>
				<td class="date">2012年9月26日まで有効</td>
			</tr>
			<tr>
				<td class="info">トラノコ歌舞伎町店</td>
			</tr>
		</table>
	</div>
</a>

