<div class="coupon red">
    <table border="0">
        <tr>
            <td class="title"><%= coupon.name %></td>
        </tr>
        <tr>
            <td class="date"><%= validity_time(coupon) %></td>
        </tr>
    </table>
</div>
