<a href="#">
	<div class="coupon red">
		<table border="0">
			<tr>
				<td colspan="2" class="title"><%= coupon.name %></td>
			</tr>
			<tr>
				<td rowspan="3" class="picture1">
					<img src="image/sample.jpg" width="64" height="64">
				</td>
				<td class="text"><p><%= coupon.description %></p></td>
			</tr>
			<tr>
				<td class="date"><%= validity_time(coupon) %></td>
			</tr>
			<tr>
				<td class="info"><%= coupon.shop.name %></td>
			</tr>
		</table>	
	</div>
</a>