<table width="80%" border="0">
  <tr>
    <td><img src="../image/sample_coupon.png"</td>
    <td class="coupon_details"><%= t('coupon.name') + ':' + coupon.name %> <br />
    <%= t('coupon.description') + ':' + coupon.description %><br />
    <%= t('coupon.validity') + ':' + validity_time(coupon) %><br />
    <%= t('coupon.target') + ':' + coupon.target unless coupon.target.nil? %>
    <span class="button big">配信停止</span></td>
  </tr>
</table>