<div data-role="page" id="index" data-theme="e">
  <div data-role="header" data-theme="c">
    <h1>クーポンアプリ</h1>
  </div>
  <div data-role="content" class="centering">
    <div class="index">
      <div class="index_logo"> <img src="/assets/logo.png" alt="main logo" width="90%"></div>
      <div class="description">
        <p>なんか説明文てきな</p>
      </div>
      <div class="social_buttons centering" style="max-width:648px;">
        <div class="social_button"> <a href="/"><img src="/assets/sign_in_with_facebook.png" alt="sign_in_with_facebook" width="80%"></a> </div>
        <div class="social_button"><a href="main.html"> <img src="/assets/sign_in_with_twitter.png" alt="sign_in_with_twitter" width="80%"></a></div>
      </div>
    </div>
  </div>
</div>
