<div data-role="page" id="share" data-add-back-btn="false" data-theme="e">
	<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="c">
		<a href="main.html" data-icon="home" data-transition="slide" data-direction="reverse">ホーム</a>
		<div id="header_logo"> <img src="/assets/logo.png" alt="main logo" width="70" height="28"></div>
		<a href="#" data-icon="check">メニュー</a> </div>
	<div class="ui-bar ui-bar-a">クーポン共有</div>
	<div data-role="content">
		<div class="share">
			<div class="description centering">
				<p>クーポンの共有方法を選んでください。</p>
			</div>
			<div class="social_buttons centering">
				<div class="social_button">
					<a href="#"><img src="/assets/share_email.png" alt="share_email" width="80%"></a> 
				</div>
				<div class="social_button">
					<a href="#"><img src="/assets/share_friend_list.png" alt="share_friend_list" width="80%"></a>
				</div>
				<div class="social_button">
					<a href="#"><img src="/assets/share_facebook.png" alt="share_facebook" width="80%"></a>
				</div>
				<div class="social_button">
					<a href="#"><img src="/assets/share_twitter.png" alt="share_twitter" width="80%">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
