<div class="row">
	<div class="row">
		<div class="four columns centered">
			<h2 class="centered"><%= t 'coupon.new' %></h2>
		</div>
	</div>
	<div>
		<div class="five columns centered">
			<h2><%= t 'coupon.recommended' %></h2>
		</div>
	</div>
</div>