<ul>
	<% action = controller.action_name %>
	<a href="shoplist"><li class="<%= action == 'shoplist' ? 'active' : ''%>">店舗一覧</li></a>
	<a href="userlist"><li class="<%= action == 'userlist' ? 'active' : ''%>">ユーザー一覧</li></a>
	<a href="couponlist"><li class="<%= action == 'couponlist' ? 'active' : ''%>">クーポン一覧</li></a>
</ul>
