<div data-role="navbar">
	<ul>
		<li> 
		<a href="myshop.html" data-icon="custom" id="list_icon" data-shadow="false">
			<%= t 'shop.my' %>
		</a>
		</li>
		<li> 
		<a href="search.html" data-icon="custom" id="search_icon" data-shadow="false">
			<%= t 'shop.search' %>
		</a>
		</li>
		<li>
		<a href="ranking.html" data-icon="custom" id="ranking_icon" data-shadow="false">
			<%= t 'coupon.raking' %>
		</a>
		</li>
	</ul>
</div>

