<h1>QPOM店舗登録画面 *は必須項目です</h1>
<div style="margin-top:20px;">
	アカウント名：<span style="margin-left:5px;"><input type="text" size="50"></input></span><br>
	パスワード：<span style="margin-left:5px;"><input type="text" size="50"></input></span><br>
	確認用パスワード：<span style="margin-left:5px;"><input type="text" size="50"></input></span><br>
	店舗名：<span style="margin-left:5px;"><input type="text" size="50"></input></span><br>
	代表者名：<span style="margin-left:5px;"><input type="text" size="50"></input></span><br>
	住所：<span style="margin-left:5px;"><input type="text" size="50"></input></span><br>
	アクセス：<span style="margin-left:5px;"><input type="text" size="50"></input></span><br>
	アカウント名：<span style="margin-left:5px;"><input type="text" size="50"></input></span><br>
	アカウント名：<span style="margin-left:5px;"><input type="text" size="50"></input></span>
</div>
<ul>
<% @shops.each do |shop| %>
<li><%= shop.account %></li>
<% end %>
</ul>
