<html>
<body>
<div align="center">
<h1>QPOM店舗登録画面</h1><br/>
<form id="login">
	<label>アカウント名</label>
	<input type="text"><br>
	<label>パスワード</label>
	<input type="text"><br>
	<p>パスワードを忘れた方は<a href=#>こちら</a>へ連絡してください</p>
	<input type="button" title="登録" value="登録"></input>
</form>
</div>
</body>
</html>