@charset "utf-8";
/* CSS Document */

#header_logo {
	text-align:center;
}
#header_logo * {
	margin:5px auto 0;
}
.shop, .coupon {
	text-shadow:none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:1px 0;
	-webkit-box-shadow:  1px 1px 3px 1px rgba(0, 0, 0, 0.5);
	box-shadow:  1px 1px 3px 1px rgba(0, 0, 0, 0.5);
	overflow:hidden;
	margin:0 0 10px 0;
}
.shop {
	background:#fff;
	color:#000;
}
.coupon.orange {
	background:#FF9900;
	color:#fff;
}
.coupon.red {
	background:#F00;
	color:#fff;
}
.coupon.yellow {
	background:#FF0;
	color:#000;
}
.coupon table {
	width:95%;
	margin:10px auto 10px;
}
.coupon .title {
	font-size:20px;
}
.coupon .text p {
	margin:0;
	line-height:1em;
	height:2em;
	overflow:hidden;
}
.coupon .date, .coupon .info {
	text-align:right;
}
.coupon .date {
	font-size:12px;
}

.friend_list.buttons {
	margin:0 0 30px 0;
}

.shop .picture {
	vertical-align:top;
	padding:3px;
}
.shop .coupons {
	width:100%;
	padding:3px;
}
.shop .title {
	font-size:18px;
	width:100%;
}