<div data-role="page" id="ranking" data-theme="e">
	<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="c">
		<a href="main.html" data-icon="home" data-transition="slide" data-direction="reverse">ホーム</a>
		<div id="header_logo"> <img src="/assets/logo.png" alt="main logo" width="70" height="28"></div>
		<a href="#" data-icon="delete">メニュー</a> 
		<div data-role="navbar" data-iconpos="left">
			<ul>
				<li> <a href="#" data-icon="plus" data-theme="e" class="ui-btn-active ui-state-persist">使用回数</a> </li>
				<li> <a href="#" data-icon="plus" data-theme="e">クーポン使用数</a> </li>
			</ul>
			<ul>
				<li> <a href="#" data-icon="plus" data-theme="e">シェア回数</a> </li>
				<li> <a href="#" data-icon="plus" data-theme="e">マイ店登録数</a> </li>
			</ul>
		</div>
	</div>

	<div data-role="content">
		<%= render 'shared/coupon.html.erb' %>
	</div>
	<div data-role="footer" data-id="main_buttons" data-position="fixed" data-tap-toggle="false">
		<div data-role="navbar">
			<ul>
				<li> <a href="myshop.html" data-icon="delete">マイ店一覧</a> </li>
				<li> <a href="search.html" data-icon="search">お店を探す</a> </li>
				<li> <a href="ranking.html" data-icon="delete" class="ui-btn-active ui-state-persist">ランキング</a> </li>
			</ul>
		</div>
	</div>
</div>
