<div data-role="footer" data-id="main_buttons" data-position="fixed" data-tap-toggle="false">
    <div data-role="navbar">
        <ul>
            <li>
                <%= link_to t('shop.my'), "#", "data-icon" => "delete" %>
            </li>
            <li>
                <%= link_to t('shop.search'), search_shops_path, "data-icon" => "delete" %>
            </li>
            <li>
                <%= link_to t('coupon.ranking'), ranking_coupons_path, "data-icon" => "delete" %>
            </li>
        </ul>
    </div>
</div>